<a href="https://colab.research.google.com/github/Kasrakko/Excel-With-Python/blob/main/Copy_of_excel_with_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# workimg with excel in python

## Import the librarries

In [295]:
import openpyxl as pyx
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Open the file

In [122]:
wb = pyx.load_workbook('دیتا بیس گزارشات روزانه (3).xlsx')

## Select the sheet that we want

In [123]:
ws = wb['عملیات اجرایی']

## Basic things for start

### Count the rows and columns

In [124]:
print(f"Total number of rows: {ws.max_row} \nTotal number columns: {ws.max_column}")

Total number of rows: 200
Total number columns: 11

### Reading data from a cell

#### The value of exact cell read be like this

In [125]:
print(f"The value of cell A1 is: {ws['f2'].value}")

The value of cell A1 is: اجرای عملیات تخریب دیوار ضلع جنوبی کارگاه

#### Reading data from multiple cells

In [126]:
values = [ws.cell(row=1, column=i).value
          for i in range(1, ws.max_column+1)]
print(values)

['ردیف', 'تاریخ', 'شماره گزارش', 'موضوع', 'تراز', 'شرح', 'حجم كل', 'مقدار', 'واحد', 'کد WBS', None]

In [127]:
myColumnValues = [ws.cell(row=i, column=6).value
                  for i in range(2, ws.max_row+1)]
# if we want to get data in specefic area we could write any array in `range()`
for i in myColumnValues:
  print (i)

اجرای عملیات تخریب دیوار ضلع جنوبی کارگاه
اجرایی زیرسازی و پایه گذاری حصار کارگاه ضلع جنوبی
اجرای عملیات تخریب دیوار ضلع جنوبی کارگاه
اجرایی زیرسازی و پایه گذاری حصار کارگاه ضلع جنوبی
تعمیر و اصلاحیه برق کارگاه
اجرای عملیات پایه گذاری صفحه ستون کانکس های قسمت اداری
اجرای عملیات رگلاژ سطح کانکس های اداری
نقاشی و باز سازی ساختمان موجود در کارگاه (اسکان کارگری)
اجرای عملیات پایه گذاری صفحه ستون کانکس های قسمت اداری
اجرای عملیات رگلاژ سطح کانکس های اداری
نقاشی و باز سازی ساختمان موجود در کارگاه (اسکان کارگری)
اجرای عملیات پایه گذاری صفحه ستون کانکس های قسمت اداری
اجرای عملیات رگلاژ سطح کانکس های اداری
اجرای عملیات پایه گذاری صفحه ستون کانکس های قسمت اداری
اجرای عملیات رگلاژ سطح کانکس های اداری
انتقال و جابجایی منبع آب (کارفرما)
اجرای عملیات پایه گذاری صفحه ستون کانکس های قسمت اداری
اجرای عملیات رگلاژ سطح کانکس های اداری
انتقال و جابجایی منبع آب (کارفرما)
تخلیه وزنه و کالسکه تاور کرین
اجرای آرماتور بندی شبکه و  جانمایی صفحه ستون کانکس های اداری
انتقال و جابجایی منبع آب (کارفرما)
اجرا و اصلاحیه خط فاضلاب
زنگ زدایی آرماتور ها
اجرای آرماتور بندی شبکه و  جانمایی صفحه ستون کانکس های اداری
اجرا و اصلاحیه خط فاضلاب
زنگ زدایی آرماتور ها
اجرای آرماتور بندی شبکه و  جانمایی صفحه ستون کانکس های اداری
اجرا و اصلاحیه خط فاضلاب
زنگ زدایی آرماتور ها
تخلیه کانکس 12 متری
اجرای آرماتور بندی شبکه و  جانمایی صفحه ستون کانکس های اداری
بتن ریزی پایه ستون کانکس های اداری
نصب کولرگازی ساختمان کارگری
تخلیه کانکس 12 متری اداری
حمل نخاله های کارگاه
زنگ زدایی میلگرد ها
نظافت کارگاه اطراف آرماتور های ستون ها
تخلیه بلوک
تخلیه ماسه
تخلیه سیمان کیسه ای
زنگ زادیی میلگرد ها
زنگ زادیی میلگرد ها
خاک ریزی و تسطیح جهت کانکس های اداری
زنگ زادیی میلگرد ها
آماده سازی و تسطیح جهت کانکس های اداری
نظافت کارگاه
زنگ زادیی میلگرد ها
نظافت کارگاه
تخلیه کانتینر 12 متری انبار
جابجای 2 کانکس
زیرسازی جهت جاگذاری کانتینر 12 متری انبار
زیرسازی جهت جاگذاری کانتینر 12 متری انبار
زنگ زدایی آرماتور ها
زیرسازی جهت جاگذاری کانتینر 12 متری انبار
زنگ زدایی آرماتور ها
تخلیه کامپیوتر ها
زنگ زدایی آرماتور ها
زنگ زدایی آرماتور ها
تعیین مقدار کاهش ضخامت میلگرد های انتظار دیوارهای برشی و ستون ها
بررسی و پی گیری روش حفاظت کاتودی
تهیه لیستوفر دیوار حائل
زنگ زدایی آرماتور ها
بررسي و تهيه ليستوفر ستون ها و ديوارهاي برشي
بررسی و پی گیری روش حفاظت کاتودی ميلگرد ها
ارائه لیستوفر دیوار حائل به كارفرماي محترم
زنگ زدایی آرماتور ها
بررسي و تهيه ليستوفر ستون ها و ديوارهاي برشي
بررسی و پی گیری روش حفاظت کاتودی ميلگرد ها
زنگ زدایی آرماتور ها
بررسي و تهيه ليستوفر ستون ها و ديوارهاي برشي
بررسی و پی گیری روش حفاظت کاتودی ميلگرد ها
زنگ زدایی آرماتور ها
بررسي و تهيه ليستوفر ستون ها و ديوارهاي برشي
بررسی و پی گیری روش حفاظت کاتودی ميلگرد ها
زنگ زدایی آرماتور ها
بررسي و تهيه ليستوفر ستون ها و ديوارهاي برشي
بررسی و پی گیری روش حفاظت کاتودی ميلگرد ها
بررسي مغايرت هاي نقشه هاي سازه
زنگ زدایی آرماتور ها
بررسي و تهيه ليستوفر ستون ها و ديوارهاي حائل
بررسی و پی گیری روش حفاظت کاتودی ميلگرد ها
بررسي مغايرت هاي نقشه هاي سازه
تجهيز شاپ آرماتور بندي
اصلاح برنامه زمانبندي مطابق نظر كارفرماي محترم
زنگ زدایی آرماتور ها
بررسي و تهيه ليستوفر ستون ها و ديوارهاي حائل
بررسی و پی گیری روش حفاظت کاتودی ميلگرد ها
بررسي مغايرت هاي نقشه هاي سازه
تجهيز شاپ آرماتور بندي
اصلاح برنامه زمانبندي مطابق نظر كارفرماي محترم
زنگ زدایی آرماتور ها
بررسي و تهيه ليستوفر ستون ها و ديوارهاي حائل
بررسی و پی گیری روش حفاظت کاتودی ميلگرد ها
بررسي مغايرت هاي نقشه هاي سازه
تجهيز شاپ آرماتور بندي
اصلاح برنامه زمانبندي مطابق نظر كارفرماي محترم
زنگ زدایی آرماتور ها
بررسي و تهيه ليستوفر ستون ها و ديوارهاي حائل
بررسي مغايرت هاي نقشه هاي سازه
آغاز به كار شاپ آرماتور بندي
اصلاح برنامه زمانبندي مطابق نظر كارفرماي محترم
تخليه بخشي از سكشن هاي تاور 12 تن
زنگ زدایی آرماتور ها
بررسي و تهيه ليستوفر ستون ها و ديوارهاي حائل
بررسي مغايرت هاي نقشه هاي سازه
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
اصلاح برنامه زمانبندي مطابق نظر كارفرماي محترم
تخليه بخشي از سكشن هاي تاور 12 تن
زنگ زدایی آرماتور ها
بررسي و تهيه ليستوفر ستون ها و ديوارهاي حائل
بررسي مغايرت هاي نقشه هاي سازه
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
اصلاح برنامه زمانبندي مطابق نظر كارفرماي محترم
تخليه بخشي از سكشن هاي تاور 12 تن
زنگ زدایی آرماتور ها با سنگ فرز
بررسي و تهيه ليستوفر ستون ها و ديوارهاي حائل
بررسي مغايرت هاي نقشه هاي سازه
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
اصلاح برنامه زمانبندي مطابق نظر كارفرماي محترم
زنگ زدایی آرماتور ها با سنگ فرز
بررسي و تهيه ليستوفر ستون ها و ديوارهاي حائل
بررسي مغايرت هاي نقشه هاي سازه
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
اصلاح برنامه زمانبندي مطابق نظر كارفرماي محترم
تدارك اجاره واتر جت جهت زنگ زدايي آرماتورها
زنگ زدایی آرماتور ها با سنگ فرز
بررسي و تهيه ليستوفر ستون ها و ديوارهاي حائل
بررسي مغايرت هاي نقشه هاي سازه
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
اصلاح برنامه زمانبندي مطابق نظر كارفرماي محترم
تدارك اجاره واتر جت جهت زنگ زدايي آرماتورها
زنگ زدایی آرماتور ها توسط واتر جت
بررسي و تهيه ليستوفر ستون ها و ديوارهاي حائل
بررسي مغايرت هاي نقشه هاي سازه
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
اصلاح برنامه زمانبندي مطابق نظر كارفرماي محترم
زنگ زدایی آرماتور ها توسط واتر پلاست
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
زنگ زدایی آرماتور ها توسط واتر پلاست
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
زنگ زدایی آرماتور ها توسط واتر پلاست
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
زنگ زدایی آرماتور ها توسط واتر پلاست
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
زنگ زدایی آرماتور ها توسط فرچه سيمي
زنگ زدایی آرماتور ها توسط فرچه سيمي
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
زنگ زدایی آرماتور ها توسط فرچه سيمي
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
زنگ زدایی آرماتور ها توسط فرچه سيمي و سند بلاست با آب ديوارهاي حائل و ستون ها
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
زنگ زدایی آرماتور ها توسط فرچه سيمي و سند بلاست با آب ديوارهاي حائل و ستون ها
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
زنگ زدایی آرماتور ها توسط فرچه سيمي و سند بلاست با آب ديوارهاي حائل و ستون ها
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
زنگ زدايي با فرچه سيمي ضلع شرقي
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
زنگ زدايي با فرچه سيمي ضلع شرقي
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
آماده سازي واتر جت جديد
زنگ زدايي آرماتورها توسط سندبلاست با آب ضلع جنوبي محور 2 / L تا M
زنگ زدايي آرماتورها توسط سندبلاست با آب ضلع جنوبي محور 2 / L تا H
زنگ زدايي آرماتورها توسط سندبلاست با آب ضلع جنوبي محور 2 / H تا C
اجراي عمليات تجهيزكارگاه (ورود 2 عدد كانكس 6 متري)
زنگ زدايي آرماتورها توسط سندبلاست با آب ضلع جنوبي محور 2 / C تا B
اجراي عمليات تجهيزكارگاه (ورود 2 عدد كانكس 6 متري - و زيرسازي محل استقرار كانكس ها)
تجهيز كارگاه زيرسازي محل استقرار كانكس ها
تجهيز گارگاه اجراي عايق حرارتي بام سرويس ها
تجهيز كارگاه (اجراي عمليات نصب ستون هاي فلزي) جهت استقرار كانكس
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
تجهيز كارگاه (اجراي عمليات نصب ستون هاي فلزي) جهت استقرار كانكس
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
تجهيز كارگاه (اجراي عمليات نصب ستون هاي فلزي) جهت استقرار كانكس
تجهيز كارگاه (نصب كولر دفاتر فني و اداري)
نصب تاور كرين 12 تن
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
تجهيز كارگاه (اجراي عمليات نصب ستون هاي فلزي) جهت استقرار كانكس
تجهيز كارگاه (نصب كولر دفاتر فني و اداري)
نصب تاور كرين 12 تن
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
تجهيز كارگاه (نصب كولر دفاتر فني و اداري)
نصب تاور كرين 12 تن
تجهيز كارگاه (نصب كولر دفاتر فني و اداري)
نصب تاور كرين 12 تن
تجهيز كارگاه (نصب كولر دفاتر فني و اداري)
نصب تاور كرين 12 تن
نصب تاور كرين 12 تن
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
نصب تاور كرين 12 تن
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
غیر فعال
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
زنگ زدايي آرماتور ديوارهاي حائل و ستونها سندبلاست با آب
زنگ زدايي آرماتور ديوارهاي حائل و ستونها سندبلاست با آب
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
زنگ زدايي آرماتور ديوارهاي حائل و ستونها سندبلاست با آب
زنگ زدايي آرماتور ديوارهاي حائل و ستونها سندبلاست

#### Reading data from any range of columns

In [128]:
my_report_list = list()
data_list = list()

for value in ws.iter_rows(
    min_row=1, max_row=11, min_col=1, max_col=6,
    values_only=True):
  my_report_list.append(value)

for i in my_report_list[1:]:
  data_list.append(i)
#data_list

## Make it numPy array, so we can get shape of its
data_list = np.array(data_list)
data_list.shape

(10, 6)

### Writing into excel file

#### `ws['Your cell location'] = 'The data that U want to add'`

#### `wb.save('ديتابيس گزارس روزانه.xlsx')`

row_position = 173
col_position = 7

total_value = ((ws.cell(row=row_position, column=col_position).value)*
               (ws.cell(row=row_position, column=col_position+1).value))

ws.cell(row=173,column=11).value=total_value
# wb.save('دیتا بیس گزارشات روزانه (3).xlsx')

#### Remmember that if u want to edit the file while you had id open somewhere you will reach to an eroor

### Make our file to a Dataframe to change it with Pandas and felixiable to changing

#### Make all the column a list()

In [129]:
col1 = [ws.cell(row=i, column=1).value
                  for i in range(2, ws.max_row+1)]
## if we want to get data in specefic area we could write any array in `range()`

len(col1)

199

In [130]:
col2 = [ws.cell(row=i, column=2).value
                  for i in range(2, ws.max_row+1)]
## if we want to get data in specefic area we could write any array in `range()`

len(col2)

199

In [131]:
col3 = [ws.cell(row=i, column=3).value
                  for i in range(2, ws.max_row+1)]
## if we want to get data in specefic area we could write any array in `range()`

len(col3)

199

In [132]:
col4 = [ws.cell(row=i, column=4).value
                  for i in range(2, ws.max_row+1)]
## if we want to get data in specefic area we could write any array in `range()`

len(col4)

199

In [133]:
col5 = [ws.cell(row=i, column=5).value
                  for i in range(2, ws.max_row+1)]
## if we want to get data in specefic area we could write any array in `range()`

len(col5)

199

In [134]:
col6 = [ws.cell(row=i, column=6).value
                  for i in range(2, ws.max_row+1)]
## if we want to get data in specefic area we could write any array in `range()`

len(col6)

199

In [135]:
col7 = [ws.cell(row=i, column=7).value
                  for i in range(2, ws.max_row+1)]
## if we want to get data in specefic area we could write any array in `range()`

len(col7)

199

In [136]:
col8 = [ws.cell(row=i, column=8).value
                  for i in range(2, ws.max_row+1)]
len(col8)
## if we want to get data in specefic area we could write any array in `range()`
# len(col8)

199

In [137]:
col9 = [ws.cell(row=i, column=9).value
                  for i in range(2, ws.max_row+1)]
## if we want to get data in specefic area we could write any array in `range()`

len(col9)

199

In [138]:
col10 = [ws.cell(row=i, column=10).value
                  for i in range(2, ws.max_row+1)]
## if we want to get data in specefic area we could write any array in `range()`

len(col10)

199

#### Now make all of the lists to a datagram

In [139]:
# We have to convert the list to data frame to work with pandas and make the null values to zero
# Do it for ALL Column

df_col1 = pd.DataFrame(col1, columns=['رديف'])
df_col1['رديف'] = df_col1['رديف'].fillna(0)

df_col2 = pd.DataFrame(col2, columns=['تاريخ'])
df_col2['تاريخ'] = df_col2['تاريخ'].fillna(0)


df_col3 = pd.DataFrame(col3, columns=['شماره گزارش'])
df_col3['شماره گزارش'] = df_col3['شماره گزارش'].fillna(0)


df_col4 = pd.DataFrame(col4, columns=['موضوع'])
df_col4['موضوع'] = df_col4['موضوع'].fillna(0)


df_col5 = pd.DataFrame(col5, columns=['تراز'])
df_col5['تراز'] = df_col5['تراز'].fillna(0)


df_col6 = pd.DataFrame(col6, columns=['شرح'])
df_col6['شرح'] = df_col6['شرح'].fillna(0)


df_col7 = pd.DataFrame(col7, columns=['حجم كل'])
df_col7['حجم كل'] = df_col7['حجم كل'].fillna(0)



df_col8 = pd.DataFrame(col8, columns=['مقدار'])
df_col8['مقدار'] = df_col8['مقدار'].fillna(0)

df_col9 = df = pd.DataFrame(col9, columns=['واحد'])
df_col9['واحد'] = df_col9['واحد'].fillna(0)

df_col10 = df = pd.DataFrame(col10, columns=['كد WBS'])
df_col10['كد WBS'] = df_col10['كد WBS'].fillna(0)

print (df_col1['رديف'][171])
print (df_col2['تاريخ'][171])
print (df_col3['شماره گزارش'][171])
print (df_col4['موضوع'][171])
print (df_col5['تراز'][171])
print (df_col6['شرح'][171])
print (df_col7['حجم كل'][171])
print (df_col8['مقدار'][171])
print (df_col9['واحد'][171])
print (df_col10['كد WBS'][171])

0.0
2023-07-19 00:00:00
85
0
0
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
43.249
2.478
تن
0

#### Join all of the Daaframes and make a table

In [140]:
# Joingong the data frames as column and create the main data frame
full_file = pd.concat([df_col1, df_col2, df_col3, df_col4, df_col5, df_col6, df_col7, df_col8, df_col9, df_col10], axis=1, join='inner')
display(full_file)

,رديف,تاريخ,شماره گزارش,موضوع,تراز,شرح,حجم كل,مقدار,واحد,كد WBS
0,1.0,2023-05-22,27,0,0,اجرای عملیات تخریب دیوار ضلع جنوبی کارگاه,0.00,0.00,0,1.4.1
1,2.0,2023-05-22,27,0,0,اجرایی زیرسازی و پایه گذاری حصار کارگاه ضلع جنوبی,0.00,0.00,0,1.4.1
2,1.0,2023-05-23,28,0,0,اجرای عملیات تخریب دیوار ضلع جنوبی کارگاه,0.00,0.00,0,1.4.1
3,2.0,2023-05-23,28,0,0,اجرایی زیرسازی و پایه گذاری حصار کارگاه ضلع جنوبی,0.00,0.00,0,1.4.1
4,3.0,2023-05-23,28,0,0,تعمیر و اصلاحیه برق کارگاه,0.00,0.00,0,1.4.1
...,...,...,...,...,...,...,...,...,...,...
194,0.0,2023-07-29,95,0,0,زنگ زدايي آرماتور ديوارهاي حائل و ستونها سندبل...,0.00,0.00,0,0
195,0.0,2023-07-30,96,0,0,زنگ زدايي آرماتور ديوارهاي حائل و ستونها سندبل...,0.00,0.00,0,0
196,0.0,2023-07-30,96,0,0,خم و برش آرماتور هاي ستون ها و ديوار هاي حائل,54.28,7.86,تن,0
197,0.0,2023-07-31,97,0,0,زنگ زدايي آرماتور ديوارهاي حائل و ستونها سندبل...,0.00,0.00,0,0
198,0.0,2023-08-01,98,0,0,زنگ زدايي آرماتور ديوارهاي حائل و ستونها سندبلاست,0.00,0.00,0,0

#### Add a column to table for total price

In [141]:
# Adding new column as total calculator
total = full_file['مقدار'] * full_file['حجم كل']
full_file['جمع كل'] = total
full_file
#full_file['جمع كل'][171]

,رديف,تاريخ,شماره گزارش,موضوع,تراز,شرح,حجم كل,مقدار,واحد,كد WBS,جمع كل
0,1.0,2023-05-22,27,0,0,اجرای عملیات تخریب دیوار ضلع جنوبی کارگاه,0.00,0.00,0,1.4.1,0.0000
1,2.0,2023-05-22,27,0,0,اجرایی زیرسازی و پایه گذاری حصار کارگاه ضلع جنوبی,0.00,0.00,0,1.4.1,0.0000
2,1.0,2023-05-23,28,0,0,اجرای عملیات تخریب دیوار ضلع جنوبی کارگاه,0.00,0.00,0,1.4.1,0.0000
3,2.0,2023-05-23,28,0,0,اجرایی زیرسازی و پایه گذاری حصار کارگاه ضلع جنوبی,0.00,0.00,0,1.4.1,0.0000
4,3.0,2023-05-23,28,0,0,تعمیر و اصلاحیه برق کارگاه,0.00,0.00,0,1.4.1,0.0000
...,...,...,...,...,...,...,...,...,...,...,...
194,0.0,2023-07-29,95,0,0,زنگ زدايي آرماتور ديوارهاي حائل و ستونها سندبل...,0.00,0.00,0,0,0.0000
195,0.0,2023-07-30,96,0,0,زنگ زدايي آرماتور ديوارهاي حائل و ستونها سندبل...,0.00,0.00,0,0,0.0000
196,0.0,2023-07-30,96,0,0,خم و برش آرماتور هاي ستون ها و ديوار هاي حائل,54.28,7.86,تن,0,426.6408
197,0.0,2023-07-31,97,0,0,زنگ زدايي آرماتور ديوارهاي حائل و ستونها سندبل...,0.00,0.00,0,0,0.0000
198,0.0,2023-08-01,98,0,0,زنگ زدايي آرماتور ديوارهاي حائل و ستونها سندبلاست,0.00,0.00,0,0,0.0000

In [142]:
row_position = 2
col_position = 'k'
for i in full_file['جمع كل']:
    ws[col_position + str(row_position)].value = i
    row_position += 1

ws['k198'].value
wb.save('دیتا بیس گزارشات روزانه (3).xlsx')

In [143]:
# some type test
pd.to_datetime(full_file['تاريخ'])
type(full_file['تاريخ'][173])

pandas._libs.tslibs.timestamps.Timestamp

#### Finding our data by DATE by `df['target column'].loc[(df['date column'])]`

In [144]:
# Locating the data that we want by date and save it in a variable
date = input('give me a date\n')
date = pd.Timestamp(date)
print("\n")
descriptions_value = full_file['شرح'].loc[(full_file['تاريخ'] == date)]
singleAmount_value = full_file['مقدار'].loc[(full_file['تاريخ'] == date)]
# Determine the fullAmount_value afterwards
number_value = full_file['شماره گزارش'].loc[(full_file['تاريخ'] == date)]

unit_value = full_file['واحد'].loc[(full_file['تاريخ'] == date)]
print(type(descriptions_value))
print(type(singleAmount_value))
print(type(unit_value))
print(type(number_value))

give me a date
2023-07-27


<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

### moving through the final target

#### Enter to the target sheet

In [145]:
ws_des = wb['1']

#### Some basics things

In [146]:
print(f"Total number of rows: {ws_des.max_row} \nTotal number columns: {ws_des.max_column}")

Total number of rows: 25
Total number columns: 36

In [147]:
row_pos = 6
col_pos = "j"
ws_des[col_pos + str(row_pos)].value

'خم و برش آرماتور هاي ستون ها و ديوار هاي حائل'

#### The Final-Step

In [148]:
for i in descriptions_value:
  ws_des[col_pos + str(row_pos)].value = i
  row_pos += 1
ws_des['j6'].value

ws_des[col_pos + str(row_pos)].value

'خم و برش آرماتور هاي ستون ها و ديوار هاي حائل'

#### Save it
dont forgot to save changes on the file

In [149]:
wb.save('دیتا بیس گزارشات روزانه (3).xlsx')

### Advance Mode
here we want to make our work looks like a real project and work on details

 #### Make the date cell dynamiclly change by our 'INPUT'

>>Lets start whith changing data dynimicly
>>The 'AF3' cell is our target date, lets see its statics value

>>In >> `ws_des['AF3'].value`

>>Out >> datetime.datetime(2023, 7, 1, 0, 0)

>>Now lets make it equal to the value of INPUT yhat we tookit before

In [150]:
# Fill the date cell
# As we do it many times in past we do it here easily
ws_des['AF3'].value = date
ws_des['AF3'].value

# Dont forget to save it
wb.save('دیتا بیس گزارشات روزانه (3).xlsx')

#### Have a look throght the outputs that we have by our date

`number_value` >> `ws_des[AF2:]`  The easiest one, we start with this, It shows us which report number is our letter

`descriptions_value` >> `ws_des[J6:]` I ment it starts from J6 and move-on but code doesnt understood [J6:]

`singleAmount_value` >> `ws_des[AH6:]` I ment it starts from J6 and move-on but code doesnt understood [AH6:]

`unit_value` >> `ws_des[AH6:]` I ment it starts from J6 and move-on but code doesnt understood [AH6:]

`totalAmount_value` >> `ws_des[AB6:]` I ment it starts from J6 and move-on but code doesnt understood [J6:]

For this, we have to look through the "description_value" and back to the `ws[]` main sheet check when ever we seen this value again to sum-up the "مقدار" values together

In [151]:
descriptions_value

189    خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
190                              نصب تاور كرين 12 تن
191    خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
Name: شرح, dtype: object

In [152]:
singleAmount_value

189    7.39
190    0.00
191    0.00
Name: مقدار, dtype: float64

In [153]:
number_value

189    92
190    93
191    93
Name: شماره گزارش, dtype: int64

In [154]:
unit_value

189    تن
190     0
191    تن
Name: واحد, dtype: object

#### Start from easy to hard STEP BY STEP

1- number_value

2- unit_value

3- singleAmount_value

4- totalAMountValue

In [155]:
# Start with number_value
from os import WIFSIGNALED
number_array = list()
for i in number_value:
  if str(i) not in number_array:
    number_array.append(str(i))

number_filed_final = number_array[0] + " - " + number_array[-1]
ws_des['AF2'].value = number_filed_final

# save it
wb.save('دیتا بیس گزارشات روزانه (3).xlsx')
ws_des['AF2'].value

'92 - 93'

In [156]:
# Go for the unit_value
col_pos = "AH"
row_pos = 6
for i in unit_value:
  ws_des[col_pos + str(row_pos)].value = i
  row_pos += 1
ws_des['AH6'].value

# Save it
wb.save('دیتا بیس گزارشات روزانه (3).xlsx')

#ws_des[col_pos + str(row_pos)].value

In [157]:
# SingleAmount value
col_pos = "AE"
row_pos = 6
for i in singleAmount_value:
  if (i!= 0):
    ws_des[col_pos + str(row_pos)].value = i
    row_pos += 1
  else:
    ws_des[col_pos + str(row_pos)].value = ""
    row_pos += 1

ws_des['AE6'].value

# Save it
wb.save('دیتا بیس گزارشات روزانه (3).xlsx')

In [328]:
# totlaAmount_value at the end
row_pos = 6
col_pos = "AB"
total_amount_dict = dict()
totalAmount_value = dict()
for i in descriptions_value:
  total_amount_dict [i] = full_file['مقدار'].loc[(full_file['شرح'] == i)]

for j in total_amount_dict.keys():
  totalAmount_value[j] = total_amount_dict[j]
  ws_des[col_pos + str(row_pos)].value = totalAmount_value[j].sum()
  if (ws_des[col_pos + str(row_pos)].value == 0):
    ws_des[col_pos + str(row_pos)].value = ""
  row_pos += 1

wb.save('دیتا بیس گزارشات روزانه (3).xlsx')
ws_des["AB6"].value

29.072119999999998

### Now lets go ahead to another sheet and another jurney

In [329]:
ws_human_resource = wb['نیروی انسانی']
print(f"Total number of rows: {ws_human_resource.max_row} \nTotal number columns: {ws_human_resource.max_column}")

Total number of rows: 1513
Total number columns: 6

#### Make our sheet table to dataFrame to work with it easiley

In [339]:
## Extract the columns
col1 = [ws_human_resource.cell(row=i, column=1).value
                  for i in range(2, ws_human_resource.max_row+1)]

col2 = [ws_human_resource.cell(row=i, column=2).value
                  for i in range(2, ws_human_resource.max_row+1)]

col3 = [ws_human_resource.cell(row=i, column=3).value
                  for i in range(2, ws_human_resource.max_row+1)]

col4 = [ws_human_resource.cell(row=i, column=4).value
                  for i in range(2, ws_human_resource.max_row+1)]

col5 = [ws_human_resource.cell(row=i, column=5).value
                  for i in range(2, ws_human_resource.max_row+1)]
## Make them dataframe
df_col1 = pd.DataFrame(col1, columns=['رديف'])
df_col1['رديف'] = df_col1['رديف'].fillna(0)

df_col2 = pd.DataFrame(col2, columns=['تاریخ'])
df_col2['تاریخ'] = df_col2['تاریخ'].fillna(0)

df_col3 = pd.DataFrame(col3, columns=['عنوان'])
df_col3['عنوان'] = df_col3['عنوان'].fillna(0)

df_col4 = pd.DataFrame(col4, columns=['تعداد حاضر'])
df_col4['تعداد حاضر'] = df_col4['تعداد حاضر'].fillna(0)

df_col5 = pd.DataFrame(col5, columns=['پيمانكار/ ستاد'])
df_col5['پيمانكار/ ستاد'] = df_col5['پيمانكار/ ستاد'].fillna(0)


# Joingong the data frames as column and create the main data frame
full_file_humanResource = pd.concat([df_col1, df_col2, df_col3, df_col4, df_col5], axis=1, join='inner')
full_file_humanResource

      رديف      تاریخ              عنوان تعداد حاضر پيمانكار/ ستاد
0      1.0 2023-05-22         مدیر پروژه          0           ستاد
1      2.0 2023-05-22      سرپرست کارگاه          1           ستاد
2      3.0 2023-05-22    سرپرست دفتر فنی          0           ستاد
3      4.0 2023-05-22           دفتر فنی          3           ستاد
4      5.0 2023-05-22        سرپرست اجرا          1           ستاد
...    ...        ...                ...        ...            ...
1507   0.0 2023-08-01             جوشکار          1           ستاد
1508   0.0 2023-08-01   استادکار تأسیسات          1           ستاد
1509   0.0 2023-08-01        آرماتور بند          5           اجرا
1510   0.0 2023-08-01      سند بلاست كار          3           اجرا
1511   0.0 2023-08-01      نصاب تاوركرين          3           ستاد

[1512 rows x 5 columns]

##### Human Resource Staffs

In [350]:
# Inserting the report sheet 2
ws_des2 = wb['2']
print(f"Total number of rows: {ws_des2.max_row} \nTotal number columns: {ws_des2.max_column}")

Total number of rows: 39
Total number columns: 36

In [344]:
# Choose what we want to selectm from humanresource
humanResource = full_file_humanResource['عنوان'].loc[(full_file_humanResource['تاریخ'] == date)]
count = full_file_humanResource['تعداد حاضر'].loc[(full_file_humanResource['تاریخ'] == date)]

In [362]:
#
count_row = 6
row_pos = 6
col_pos_1 = "c"
col_pos_2 = "o"
col_pos_3 = "aa"
for i in humanResource:
  if(count_row <= 15):
    ws_des2[col_pos_1 + str(row_pos)].value = i
    row_pos += row_pos
  if (count_row > 15 & count_row <= 15):
    row_pos = 6
    ws_des2[col_pos_2 + str(row_pos)].value = i
    row_pos += row_pos
  if (count_row > 15 & count_row <= 15):
    row_pos = 6
    ws_des2[col_pos_3 + str(row_pos)].value = i
    row_pos += row_pos

  count_row += count_row

ws_des2["aa10"].value

wb.save('دیتا بیس گزارشات روزانه (3).xlsx')

' استادکار تأسیسات (برقكار)'

##### Machinery Staffs

In [364]:
# Insert the sheet
ws_machinery = wb['ماشین آلات']
print(f"Total number of rows: {ws_machinery.max_row} \nTotal number columns: {ws_machinery.max_column}")

Total number of rows: 718
Total number columns: 7

In [ ]:
## Extract the columns
col1 = [ws_machinery.cell(row=i, column=1).value
                  for i in range(2, ws_machinery.max_row+1)]

col2 = [ws_machinery.cell(row=i, column=2).value
                  for i in range(2, ws_machinery.max_row+1)]

col3 = [ws_machinery.cell(row=i, column=3).value
                  for i in range(2, ws_machinery.max_row+1)]

col4 = [ws_machinery.cell(row=i, column=4).value
                  for i in range(2, ws_machinery.max_row+1)]

col5 = [ws_machinery.cell(row=i, column=5).value
                  for i in range(2, ws_machinery.max_row+1)]

col6 = [ws_machinery.cell(row=i, column=6).value
                  for i in range(2, ws_machinery.max_row+1)]

col7 = [ws_machinery.cell(row=i, column=7).value
                  for i in range(2, ws_machinery.max_row+1)]


## Make them dataframe
df_col1 = pd.DataFrame(col1, columns=['رديف'])
df_col1['رديف'] = df_col1['رديف'].fillna(0)

df_col2 = pd.DataFrame(col2, columns=['تاریخ'])
df_col2['تاریخ'] = df_col2['تاریخ'].fillna(0)

df_col3 = pd.DataFrame(col3, columns=['عنوان'])
df_col3['عنوان'] = df_col3['عنوان'].fillna(0)

df_col4 = pd.DataFrame(col4, columns=['تعداد حاضر'])
df_col4['تعداد حاضر'] = df_col4['تعداد حاضر'].fillna(0)

df_col5 = pd.DataFrame(col5, columns=['پيمانكار/ ستاد'])
df_col5['پيمانكار/ ستاد'] = df_col5['پيمانكار/ ستاد'].fillna(0)


# Joingong the data frames as column and create the main data frame
full_file_humanResource = pd.concat([df_col1, df_col2, df_col3, df_col4, df_col5], axis=1, join='inner')
full_file_humanResource