<a href="https://colab.research.google.com/github/Kasrakko/Excel-With-Python/blob/main/Excel_with_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# workimg with excel in python

## Import the librarries

In [105]:
import openpyxl as pyx
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Open the file

In [106]:
wb = pyx.load_workbook('دیتا بیس گزارشات روزانه (3).xlsx')

## Select the sheet that we want

In [107]:
ws = wb['عملیات اجرایی']

## Basic things for start

### Count the rows and columns

In [108]:
print(f"Total number of rows: {ws.max_row} \nTotal number columns: {ws.max_column}")

Total number of rows: 221
Total number columns: 17

### Reading data from a cell

#### The value of exact cell read be like this

In [109]:
print(f"The value of cell A1 is: {ws['f2'].value}")

The value of cell A1 is: اجرای عملیات تخریب دیوار ضلع جنوبی کارگاه

#### Reading data from multiple cells

In [110]:
values = [ws.cell(row=1, column=i).value
          for i in range(1, ws.max_column+1)]
print(values)

['ردیف', 'تاریخ', 'شماره گزارش', 'موضوع', 'تراز', 'شرح', 'حجم كل', 'مقدار', 'واحد', 'کد WBS', None, None, None, None, None, None, None]

In [111]:
myColumnValues = [ws.cell(row=i, column=6).value
                  for i in range(2, ws.max_row+1)]
# if we want to get data in specefic area we could write any array in `range()`
# you can uncomment the below code and see the resualt
# for i in myColumnValues:
#   print (i)

#### Reading data from any range of columns

In [112]:
my_report_list = list()
data_list = list()

for value in ws.iter_rows(
    min_row=1, max_row=11, min_col=1, max_col=6,
    values_only=True):
  my_report_list.append(value)

for i in my_report_list[1:]:
  data_list.append(i)
#data_list

## Make it numPy array, so we can get shape of its
data_list = np.array(data_list)
data_list.shape

(10, 6)

### Writing into excel file

#### `ws['Your cell location'] = 'The data that U want to add'`

#### `wb.save('ديتابيس گزارس روزانه.xlsx')`

`row_position = 173`
`col_position = 7`

`total_value = ((ws.cell(row=row_position, column=col_position).value)*`
              ` (ws.cell(row=row_position, column=col_position+1).value))`

`ws.cell(row=173,column=11).value=total_value`
`wb.save('دیتا بیس گزارشات روزانه (3).xlsx')`

#### Remmember that if u want to edit the file while you had id open somewhere you will reach to an eroor

### Make our file to a Dataframe to change it with Pandas and felixiable to changing

#### Make all the column a list()

In [113]:
col1 = [ws.cell(row=i, column=1).value
                  for i in range(2, ws.max_row+1)]
# len(col1)

col2 = [ws.cell(row=i, column=2).value
                  for i in range(2, ws.max_row+1)]
# len(col2)

col3 = [ws.cell(row=i, column=3).value
                  for i in range(2, ws.max_row+1)]
# len(col3)

col4 = [ws.cell(row=i, column=4).value
                  for i in range(2, ws.max_row+1)]
# len(col4)

col5 = [ws.cell(row=i, column=5).value
                  for i in range(2, ws.max_row+1)]
# len(col5)

col6 = [ws.cell(row=i, column=6).value
                  for i in range(2, ws.max_row+1)]
# len(col6)

col8 = [ws.cell(row=i, column=8).value
                  for i in range(2, ws.max_row+1)]
# len(col8)

col9 = [ws.cell(row=i, column=9).value
                  for i in range(2, ws.max_row+1)]
# len(col9)

col10 = [ws.cell(row=i, column=10).value
                  for i in range(2, ws.max_row+1)]
# len(col10)

col7 = [ws.cell(row=i, column=7).value
                  for i in range(2, ws.max_row+1)]
# len(col7)

#### Now make all of the lists to a datagram

In [114]:
# We have to convert the list to data frame to work with pandas and make the null values to zero
# Do it for ALL Column

df_col1 = pd.DataFrame(col1, columns=['رديف'])
df_col1['رديف'] = df_col1['رديف'].fillna(0)

df_col2 = pd.DataFrame(col2, columns=['تاريخ'])
df_col2['تاريخ'] = df_col2['تاريخ'].fillna(0)


df_col3 = pd.DataFrame(col3, columns=['شماره گزارش'])
df_col3['شماره گزارش'] = df_col3['شماره گزارش'].fillna(0)


df_col4 = pd.DataFrame(col4, columns=['موضوع'])
df_col4['موضوع'] = df_col4['موضوع'].fillna(0)


df_col5 = pd.DataFrame(col5, columns=['تراز'])
df_col5['تراز'] = df_col5['تراز'].fillna(0)


df_col6 = pd.DataFrame(col6, columns=['شرح'])
df_col6['شرح'] = df_col6['شرح'].fillna(0)


df_col7 = pd.DataFrame(col7, columns=['حجم كل'])
df_col7['حجم كل'] = df_col7['حجم كل'].fillna(0)



df_col8 = pd.DataFrame(col8, columns=['مقدار'])
df_col8['مقدار'] = df_col8['مقدار'].fillna(0)

df_col9 = df = pd.DataFrame(col9, columns=['واحد'])
df_col9['واحد'] = df_col9['واحد'].fillna(0)

df_col10 = df = pd.DataFrame(col10, columns=['كد WBS'])
df_col10['كد WBS'] = df_col10['كد WBS'].fillna(0)

print (df_col1['رديف'][171])
print (df_col2['تاريخ'][171])
print (df_col3['شماره گزارش'][171])
print (df_col4['موضوع'][171])
print (df_col5['تراز'][171])
print (df_col6['شرح'][171])
print (df_col7['حجم كل'][171])
print (df_col8['مقدار'][171])
print (df_col9['واحد'][171])
print (df_col10['كد WBS'][171])

0.0
2023-07-19 00:00:00
85
0
0
خم و برش آرماتور هاي ستون ها و ديوار هاي حائل
43.249
2.478
تن
0

#### Join all of the Daaframes and make a table

In [115]:
# Joingong the data frames as column and create the main data frame
full_file = pd.concat([df_col1, df_col2, df_col3, df_col4, df_col5, df_col6, df_col7, df_col8, df_col9, df_col10], axis=1, join='inner')
full_file[:10]

,رديف,تاريخ,شماره گزارش,موضوع,تراز,شرح,حجم كل,مقدار,واحد,كد WBS
0,1.0,2023-05-22,27,0,0,اجرای عملیات تخریب دیوار ضلع جنوبی کارگاه,0,0.0,0,1.4.1
1,2.0,2023-05-22,27,0,0,اجرایی زیرسازی و پایه گذاری حصار کارگاه ضلع جنوبی,0,0.0,0,1.4.1
2,1.0,2023-05-23,28,0,0,اجرای عملیات تخریب دیوار ضلع جنوبی کارگاه,0,0.0,0,1.4.1
3,2.0,2023-05-23,28,0,0,اجرایی زیرسازی و پایه گذاری حصار کارگاه ضلع جنوبی,0,0.0,0,1.4.1
4,3.0,2023-05-23,28,0,0,تعمیر و اصلاحیه برق کارگاه,0,0.0,0,1.4.1
5,1.0,2023-05-24,29,0,0,اجرای عملیات پایه گذاری صفحه ستون کانکس های قس...,0,0.0,0,1.4.1
6,2.0,2023-05-24,29,0,0,اجرای عملیات رگلاژ سطح کانکس های اداری,0,0.0,0,1.4.1
7,3.0,2023-05-24,29,0,0,نقاشی و باز سازی ساختمان موجود در کارگاه (اسکا...,0,0.0,0,1.4.1
8,1.0,2023-05-25,30,0,0,اجرای عملیات پایه گذاری صفحه ستون کانکس های قس...,0,0.0,0,1.4.1
9,2.0,2023-05-25,30,0,0,اجرای عملیات رگلاژ سطح کانکس های اداری,0,0.0,0,1.4.1

#### Add a column to table for total price

In [116]:
# # Adding new column as total calculator
# total = full_file['مقدار'] * full_file['حجم كل']
# full_file['جمع كل'] = total
# full_file[:10]
# #full_file['جمع كل'][171]

#### I just do it for training and it wasnt one of project's goal so I wont save this part in in our output excel file

In [117]:
# row_position = 2
# col_position = 'k'
# for i in full_file['جمع كل']:
#     ws[col_position + str(row_position)].value = i
#     row_position += 1

# ws['k198'].value
# wb.save('دیتا بیس گزارشات روزانه (3).xlsx')

#### Finding our data by DATE by `df['target column'].loc[(df['date column'])]`

In [118]:
# some type test
pd.to_datetime(full_file['تاريخ'])
type(full_file['تاريخ'][173])

pandas._libs.tslibs.timestamps.Timestamp

In [119]:
# Locating the data that we want by date and save it in a variable
date = input('give me a date\n')
date = pd.Timestamp(date)
print("\n")
descriptions_value = full_file['شرح'].loc[(full_file['تاريخ'] == date)]
singleAmount_value = full_file['مقدار'].loc[(full_file['تاريخ'] == date)]
# Determine the fullAmount_value afterwards
number_value = full_file['شماره گزارش'].loc[(full_file['تاريخ'] == date)]

unit_value = full_file['واحد'].loc[(full_file['تاريخ'] == date)]
print(type(descriptions_value))
print(type(singleAmount_value))
print(type(unit_value))
print(type(number_value))

give me a date
2023-08-09


<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

### moving through the final target

#### Enter to the target sheet

In [120]:
ws_des = wb['1']

#### Some basics things

In [121]:
print(f"Total number of rows: {ws_des.max_row} \nTotal number columns: {ws_des.max_column}")

Total number of rows: 25
Total number columns: 36

In [122]:
row_pos = 6
col_pos = "j"
ws_des[col_pos + str(row_pos)].value

'نصب پلیت های زیر سری شاسی کشی کانکس های فنی'

#### The Final-Step

In [123]:
for i in descriptions_value:
  ws_des[col_pos + str(row_pos)].value = i
  row_pos += 1
ws_des['j6'].value

ws_des[col_pos + str(row_pos)].value

#### Save it
dont forgot to save changes on the file

In [124]:
wb.save('دیتا بیس گزارشات روزانه (3).xlsx')

### Advance Mode
here we want to make our work looks like a real project and work on details

 #### Make the date cell dynamiclly change by our 'INPUT'

>>Lets start whith changing data dynimicly
>>The 'AF3' cell is our target date, lets see its statics value

>>In >> `ws_des['AF3'].value`

>>Out >> datetime.datetime(2023, 7, 1, 0, 0)

>>Now lets make it equal to the value of INPUT yhat we tookit before

In [125]:
# Fill the date cell
# As we do it many times in past we do it here easily
ws_des['AF3'].value = date
ws_des['AF3'].value

# Dont forget to save it
wb.save('دیتا بیس گزارشات روزانه (3).xlsx')

#### Have a look throght the outputs that we have by our date

`number_value` >> `ws_des[AF2:]`  The easiest one, we start with this, It shows us which report number is our letter

`descriptions_value` >> `ws_des[J6:]` I ment it starts from J6 and move-on but code doesnt understood [J6:]

`singleAmount_value` >> `ws_des[AH6:]` I ment it starts from J6 and move-on but code doesnt understood [AH6:]

`unit_value` >> `ws_des[AH6:]` I ment it starts from J6 and move-on but code doesnt understood [AH6:]

`totalAmount_value` >> `ws_des[AB6:]` I ment it starts from J6 and move-on but code doesnt understood [J6:]

For this, we have to look through the "description_value" and back to the `ws[]` main sheet check when ever we seen this value again to sum-up the "مقدار" values together

#### Start from easy to hard STEP BY STEP

1- number_value

2- unit_value

3- singleAmount_value

4- totalAMountValue

In [126]:
# Start with number_value
from os import WIFSIGNALED
number_array = list()
for i in number_value:
  if str(i) not in number_array:
    number_array.append(str(i))

number_filed_final = number_array[0] + " - " + number_array[-1]
ws_des['AF2'].value = number_filed_final

# save it
wb.save('دیتا بیس گزارشات روزانه (3).xlsx')
ws_des['AF2'].value

'106 - 106'

In [127]:
# Go for the unit_value
col_pos = "AH"
row_pos = 6
for i in unit_value:
  ws_des[col_pos + str(row_pos)].value = i
  row_pos += 1
ws_des['AH6'].value

# Save it
wb.save('دیتا بیس گزارشات روزانه (3).xlsx')

#ws_des[col_pos + str(row_pos)].value

In [128]:
# SingleAmount value
col_pos = "AE"
row_pos = 6
for i in singleAmount_value:
  if (i!= 0):
    ws_des[col_pos + str(row_pos)].value = i
    row_pos += 1
  else:
    ws_des[col_pos + str(row_pos)].value = ""
    row_pos += 1

ws_des['AE6'].value

# Save it
wb.save('دیتا بیس گزارشات روزانه (3).xlsx')

In [129]:
# totlaAmount_value at the end
row_pos = 6
col_pos = "AB"
total_amount_dict = dict()
totalAmount_value = dict()
for i in descriptions_value:
  total_amount_dict [i] = full_file['مقدار'].loc[(full_file['شرح'] == i)]

for j in total_amount_dict.keys():
  totalAmount_value[j] = total_amount_dict[j]
  ws_des[col_pos + str(row_pos)].value = totalAmount_value[j].sum()
  if (ws_des[col_pos + str(row_pos)].value == 0):
    ws_des[col_pos + str(row_pos)].value = ""
  row_pos += 1

wb.save('دیتا بیس گزارشات روزانه (3).xlsx')
ws_des["AB6"].value

''

### Now lets go ahead to another sheet and another jurney

#### Make our sheet table to dataFrame to work with it easiley

In [130]:
ws_human_resource = wb['نیروی انسانی']
print(f"Total number of rows: {ws_human_resource.max_row} \nTotal number columns: {ws_human_resource.max_column}")

Total number of rows: 1717
Total number columns: 5

In [131]:
## Extract the columns
col1 = [ws_human_resource.cell(row=i, column=1).value
                  for i in range(2, ws_human_resource.max_row+1)]

col2 = [ws_human_resource.cell(row=i, column=2).value
                  for i in range(2, ws_human_resource.max_row+1)]

col3 = [ws_human_resource.cell(row=i, column=3).value
                  for i in range(2, ws_human_resource.max_row+1)]

col4 = [ws_human_resource.cell(row=i, column=4).value
                  for i in range(2, ws_human_resource.max_row+1)]

col5 = [ws_human_resource.cell(row=i, column=5).value
                  for i in range(2, ws_human_resource.max_row+1)]
## Make them dataframe
df_col1 = pd.DataFrame(col1, columns=['رديف'])
df_col1['رديف'] = df_col1['رديف'].fillna(0)

df_col2 = pd.DataFrame(col2, columns=['تاریخ'])
df_col2['تاریخ'] = df_col2['تاریخ'].fillna(0)

df_col3 = pd.DataFrame(col3, columns=['عنوان'])
df_col3['عنوان'] = df_col3['عنوان'].fillna(0)

df_col4 = pd.DataFrame(col4, columns=['تعداد حاضر'])
df_col4['تعداد حاضر'] = df_col4['تعداد حاضر'].fillna(0)

df_col5 = pd.DataFrame(col5, columns=['پيمانكار/ ستاد'])
df_col5['پيمانكار/ ستاد'] = df_col5['پيمانكار/ ستاد'].fillna(0)


# Joingong the data frames as column and create the main data frame
full_file_humanResource = pd.concat([df_col1, df_col2, df_col3, df_col4, df_col5], axis=1, join='inner')
full_file_humanResource[:10]

   رديف      تاریخ                        عنوان تعداد حاضر پيمانكار/ ستاد
0   1.0 2023-05-22                   مدیر پروژه          0           ستاد
1   2.0 2023-05-22                سرپرست کارگاه          1           ستاد
2   3.0 2023-05-22              سرپرست دفتر فنی          0           ستاد
3   4.0 2023-05-22                     دفتر فنی          3           ستاد
4   5.0 2023-05-22                  سرپرست اجرا          1           ستاد
5   6.0 2023-05-22  سرپرست ماشین الات و تجهیزات          1           ستاد
6   7.0 2023-05-22                 کارشناس اجرا          0           ستاد
7   8.0 2023-05-22                 اداری و مالی          0           ستاد
8   9.0 2023-05-22               ايمني و بهداشت          0           ستاد
9  10.0 2023-05-22                  کنترل پروژه          1           ستاد

##### Human Resource

In [132]:
# Inserting the report sheet 2
ws_des2 = wb['2']
print(f"Total number of rows: {ws_des2.max_row} \nTotal number columns: {ws_des2.max_column}")

Total number of rows: 39
Total number columns: 36

In [133]:
# Choose what we want to selectm from humanresource
humanResource = full_file_humanResource['عنوان'].loc[(full_file_humanResource['تاریخ'] == date)]
count = full_file_humanResource['تعداد حاضر'].loc[(full_file_humanResource['تاریخ'] == date)]

In [134]:
# Intitate a for loop to fill data in excel file for human resource titles
row_pos = 6
col_pos_1 = "C"
col_pos_2 = "O"
col_pos_3 = "AA"
for i in humanResource[0:10]:
  ws_des2[col_pos_1 + str(row_pos)].value = i
  row_pos += 1
  #print(f"{col_pos_1}{row_pos} : {ws_des2[col_pos_1 + str(row_pos)].value}")

row_pos = 6
for j in humanResource[10:20]:
  ws_des2[col_pos_2 + str(row_pos)].value = j
  row_pos += 1
  #print(f"{col_pos_2}{row_pos} : {ws_des2[col_pos_2 + str(row_pos)].value}")

row_pos = 6
for k in humanResource[20:]:
  ws_des2[col_pos_3 + str(row_pos)].value = k
  row_pos += 1
  if (ws_des2[col_pos_3 + str(row_pos)].value == ws_des2[col_pos_3 + str(row_pos-1)].value):
    ws_des2[col_pos_3 + str(row_pos)].value =""
  #print(f"{col_pos_3}{row_pos} : {ws_des2[col_pos_3 + str(row_pos)].value}")

wb.save('دیتا بیس گزارشات روزانه (3).xlsx')

In [135]:
# Intitate a for loop to fill data in excel file for human Count
row_pos = 6
col_pos_1 = "K"
col_pos_2 = "W"
col_pos_3 = "AI"
for i in count[0:10]:
  ws_des2[col_pos_1 + str(row_pos)].value = i
  row_pos += 1
  #print(f"{col_pos_1}{row_pos} : {ws_des2[col_pos_1 + str(row_pos)].value}")

row_pos = 6
for j in count[10:20]:
  ws_des2[col_pos_2 + str(row_pos)].value = j
  row_pos += 1
  #print(f"{col_pos_2}{row_pos} : {ws_des2[col_pos_2 + str(row_pos)].value}")

row_pos = 6
for k in count[20:]:
  ws_des2[col_pos_3 + str(row_pos)].value = k
  row_pos += 1
  if (ws_des2[col_pos_3 + str(row_pos)].value == ws_des2[col_pos_3 + str(row_pos-1)].value):
    ws_des2[col_pos_3 + str(row_pos)].value =""
  #print(f"{col_pos_3}{row_pos} : {ws_des2[col_pos_3 + str(row_pos)].value}")

wb.save('دیتا بیس گزارشات روزانه (3).xlsx')

##### Machinery

In [136]:
# Insert the sheet
ws_machinery = wb['ماشین آلات']
print(f"Total number of rows: {ws_machinery.max_row} \nTotal number columns: {ws_machinery.max_column}")

Total number of rows: 841
Total number columns: 7

In [137]:
## Extract the columns
col1 = [ws_machinery.cell(row=i, column=1).value
                  for i in range(2, ws_machinery.max_row+1)]

col2 = [ws_machinery.cell(row=i, column=2).value
                  for i in range(2, ws_machinery.max_row+1)]

col3 = [ws_machinery.cell(row=i, column=3).value
                  for i in range(2, ws_machinery.max_row+1)]

col4 = [ws_machinery.cell(row=i, column=4).value
                  for i in range(2, ws_machinery.max_row+1)]

col5 = [ws_machinery.cell(row=i, column=5).value
                  for i in range(2, ws_machinery.max_row+1)]

col6 = [ws_machinery.cell(row=i, column=6).value
                  for i in range(2, ws_machinery.max_row+1)]

# col7 = [ws_machinery.cell(row=i, column=7).value
#                   for i in range(2, ws_machinery.max_row+1)]


## Make them dataframe
df_col1 = pd.DataFrame(col1, columns=['رديف'])
df_col1['رديف'] = df_col1['رديف'].fillna(0)

df_col2 = pd.DataFrame(col2, columns=['تاریخ'])
df_col2['تاریخ'] = df_col2['تاریخ'].fillna(0)

df_col3 = pd.DataFrame(col3, columns=['نوع'])
df_col3['نوع'] = df_col3['نوع'].fillna(0)

df_col4 = pd.DataFrame(col4, columns=['فعال'])
df_col4['فعال'] = df_col4['فعال'].fillna(0)

df_col5 = pd.DataFrame(col5, columns=['غیر فعال'])
df_col5['غیر فعال'] = df_col5['غیر فعال'].fillna(0)

df_col6 = pd.DataFrame(col6, columns=['درحال تعمیر'])
df_col6['درحال تعمیر'] = df_col6['درحال تعمیر'].fillna(0)

# df_col7 = pd.DataFrame(col7, columns=['تعداد کل'])
# df_col7['تعداد کل'] = df_col7['تعداد کل'].fillna(0)


# Joingong the data frames as column and create the main data frame
full_file_machinery = pd.concat([df_col1, df_col2, df_col3, df_col4, df_col5, df_col6], axis=1, join='inner')
full_file_machinery[:10]

   رديف      تاریخ                 نوع فعال غیر فعال  درحال تعمیر
0   1.0 2023-05-22               سواری    2        0            0
1   2.0 2023-05-22  دوربین نقشه برداری    1        0            0
2   1.0 2023-05-23               سواری    2        0            0
3   2.0 2023-05-23  دوربین نقشه برداری    1        0            0
4   1.0 2023-05-24               سواری    2        0            0
5   2.0 2023-05-24  دوربین نقشه برداری    1        0            0
6   3.0 2023-05-24               بابکت    1        0            0
7   1.0 2023-05-25               سواری    2        0            0
8   2.0 2023-05-25  دوربین نقشه برداری    1        0            0
9   3.0 2023-05-25               بابکت    1        0            0

In [138]:
# ws_des2["af3"].value = date
# wb.save('دیتا بیس گزارشات روزانه (3).xlsx')

In [139]:
# Choose what we want to selectm from humanresource
title = full_file_machinery['نوع'].loc[(full_file_machinery['تاریخ'] == date)]
acctive = full_file_machinery['فعال'].loc[(full_file_machinery['تاریخ'] == date)]
inAcctive = full_file_machinery['غیر فعال'].loc[(full_file_machinery['تاریخ'] == date)]
repair = full_file_machinery['درحال تعمیر'].loc[(full_file_machinery['تاریخ'] == date)]
# Print the values and see what you get

In [140]:
# Intitate a for loop to fill data in excel file Machinary_title
count_row = 6
row_pos = 19
col_pos_1 = "c"
col_pos_2 = "u"
col_pos_state_left_1 = "k"
col_pos_state_left_2 = "m"
col_pos_state_left_3 = "p"
col_pos_state_right_1 = "ac"
col_pos_state_right_2 = "ae"
col_pos_state_right_3 = "ah"

for i in title[0:10]:
  ws_des2[col_pos_1 + str(row_pos)].value = i
  row_pos += 1
  #print(f"{col_pos_1}{row_pos} : {ws_des2[col_pos_1 + str(row_pos)].value}")

row_pos = 19
for j in title[10:20]:
  ws_des2[col_pos_2 + str(row_pos)].value = j
  row_pos += 1
  #print(f"{col_pos_2}{row_pos} : {ws_des2[col_pos_2 + str(row_pos)].value}")

wb.save('دیتا بیس گزارشات روزانه (3).xlsx')

In [141]:
# Intitate a for loop to fill data in excel file Machinary_Acctive
row_pos = 19
for i in acctive[0:10]:
  ws_des2[col_pos_state_left_1 + str(row_pos)].value = i
  row_pos += 1
  #print(f"{col_pos_state_left_1}{row_pos} : {ws_des2[col_pos_state_left_1 + str(row_pos)].value}")

row_pos = 19
for j in acctive[10:20]:
  ws_des2[col_pos_state_right_1 + str(row_pos)].value = j
  row_pos += 1
  #print(f"{col_pos_state_right_1}{row_pos} : {ws_des2[col_pos_state_right_1 + str(row_pos)].value}")


wb.save('دیتا بیس گزارشات روزانه (3).xlsx')

In [142]:
# Intitate a for loop to fill data in excel file Machinary_inAcctive
row_pos = 19
for i in inAcctive[0:10]:
  ws_des2[col_pos_state_left_2 + str(row_pos)].value = i
  row_pos += 1
  #print(f"{col_pos_state_left_2}{row_pos} : {ws_des2[col_pos_state_left_2 + str(row_pos)].value}")

row_pos = 19
for i in inAcctive[10:20]:
  ws_des2[col_pos_state_right_2 + str(row_pos)].value = j
  row_pos += 1
  #print(f"{col_pos_state_right_2}{row_pos} : {ws_des2[col_pos_state_right_2 + str(row_pos)].value}")


wb.save('دیتا بیس گزارشات روزانه (3).xlsx')

In [143]:
# Intitate a for loop to fill data in excel file Machinary_Repair


row_pos = 19
for i in repair[0:10]:
  ws_des2[col_pos_state_left_3 + str(row_pos)].value = i
  row_pos += 1
  #print(f"{col_pos_state_left_3}{row_pos} : {ws_des2[col_pos_state_left_3 + str(row_pos)].value}")

row_pos = 19
for i in repair[10:20]:
  ws_des2[col_pos_state_right_3 + str(row_pos)].value = j
  row_pos += 1
  #print(f"{col_pos_state_right_3}{row_pos} : {ws_des2[col_pos_state_right_3 + str(row_pos)].value}")

##### Materials

In [144]:
ws_material = wb['مصالح وارد شده']
#print(f"Total number of rows: {ws_material.max_row} \nTotal number columns: {ws_material.max_column}")

In [145]:
## Extract the columns
col1 = [ws_material.cell(row=i, column=1).value
                  for i in range(2, ws_material.max_row+1)]

col2 = [ws_material.cell(row=i, column=2).value
                  for i in range(2, ws_material.max_row+1)]

col3 = [ws_material.cell(row=i, column=3).value
                  for i in range(2, ws_material.max_row+1)]

col4 = [ws_material.cell(row=i, column=4).value
                  for i in range(2, ws_material.max_row+1)]

col5 = [ws_material.cell(row=i, column=5).value
                  for i in range(2, ws_material.max_row+1)]
## Make them dataframe
df_col1 = pd.DataFrame(col1, columns=['رديف'])
df_col1['رديف'] = df_col1['رديف'].fillna(0)

df_col2 = pd.DataFrame(col2, columns=['تاریخ'])
df_col2['تاریخ'] = df_col2['تاریخ'].fillna(0)

df_col3 = pd.DataFrame(col3, columns=['شرح مصالح'])
df_col3['شرح مصالح'] = df_col3['شرح مصالح'].fillna(0)

df_col4 = pd.DataFrame(col4, columns=['مقدار'])
df_col4['مقدار'] = df_col4['مقدار'].fillna(0)

df_col5 = pd.DataFrame(col5, columns=['واحد'])
df_col5['واحد'] = df_col5['واحد'].fillna(0)


# Joingong the data frames as column and create the main data frame
full_file_materials = pd.concat([df_col1, df_col2, df_col3, df_col4, df_col5], axis=1, join='inner')
full_file_materials[:10]

   رديف                تاریخ             شرح مصالح  مقدار    واحد
0   0.0                    0  ميلگرد آجدار سايز 12   10.0      تن
1   0.0                    0  ميلگرد آجدار سايز 14    4.5      تن
2   0.0                    0  ميلگرد آجدار سايز 16    4.5      تن
3   0.0                    0  ميلگرد آجدار سايز 20    4.5      تن
4   0.0                    0  ميلگرد آجدار سايز 25   57.0      تن
5   0.0                    0  ميلگرد آجدار سايز 28    9.0      تن
6   0.0                    0  ميلگرد آجدار سايز 32    4.5      تن
7   1.0  2023-05-31 00:00:00         کانکس 12 متری    1.0  دستگاه
8   1.0  2023-06-02 00:00:00         کانکس 12 متری    1.0  دستگاه
9   1.0  2023-06-04 00:00:00                  ماسه    2.0      تن

In [146]:
# Choose what we want to selectm from Materials
material = full_file_materials['شرح مصالح'].loc[(full_file_materials['تاریخ'] == date)]
amount = full_file_materials['مقدار'].loc[(full_file_materials['تاریخ'] == date)]
unit = full_file_materials['واحد'].loc[(full_file_materials['تاریخ'] == date)]
#material

In [147]:
# Intitate a for loop to fill data in excel file for material_title
row_pos = 31
col_pos_1 = "c"
col_pos_2 = "o"
col_pos_3 = "aa"

for i in material[0:10]:
  ws_des2[col_pos_1 + str(row_pos)].value = i
  row_pos += 1
  #print(f"{col_pos_1}{row_pos} : {ws_des2[col_pos_1 + str(row_pos)].value}")

row_pos = 31
for j in material[10:20]:
  ws_des2[col_pos_2 + str(row_pos)].value = j
  row_pos += 1
  #print(f"{col_pos_2}{row_pos} : {ws_des2[col_pos_2 + str(row_pos)].value}")

row_pos = 31
for k in material[20:]:
  ws_des2[col_pos_3 + str(row_pos)].value = k
  row_pos += 1
  if (ws_des2[col_pos_3 + str(row_pos)].value == ws_des2[col_pos_3 + str(row_pos-1)].value):
    ws_des2[col_pos_3 + str(row_pos)].value =""
  #print(f"{col_pos_3}{row_pos} : {ws_des2[col_pos_3 + str(row_pos)].value}")

wb.save('دیتا بیس گزارشات روزانه (3).xlsx')

In [148]:
# Intitate a for loop to fill data in excel file for material_amount
col_pos_state_left_1 = "I"
col_pos_state_left_2 = "K"
col_pos_state_middle_1 = "U"
col_pos_state_middle_2 = "W"
col_pos_state_right_1 = "AG"
col_pos_state_right_3 = "AI"

row_pos = 31
for i in amount[0:10]:
  ws_des2[col_pos_state_left_1 + str(row_pos)].value = i
  row_pos += 1
  #print(f"{col_pos_state_left_1}{row_pos} : {ws_des2[col_pos_state_left_1 + str(row_pos)].value}")

row_pos = 31
for j in amount[10:20]:
  ws_des2[col_pos_state_middle_1 + str(row_pos)].value = j
  row_pos += 1
  #print(f"{col_pos_state_middle_1}{row_pos} : {ws_des2[col_pos_state_middle_1 + str(row_pos)].value}")

row_pos = 31
for k in amount[20:]:
  ws_des2[col_pos_state_right_1 + str(row_pos)].value = k
  row_pos += 1
  if (ws_des2[col_pos_state_right_1 + str(row_pos)].value == ws_des2[col_pos_state_right_1 + str(row_pos-1)].value):
    ws_des2[col_pos_state_right_1 + str(row_pos)].value =""
  #print(f"{col_pos_state_right_1}{row_pos} : {ws_des2[col_pos_state_right_1 + str(row_pos)].value}")

wb.save('دیتا بیس گزارشات روزانه (3).xlsx')

In [149]:
# Intitate a for loop to fill data in excel file for material_amount
for i in unit[0:10]:
  ws_des2[col_pos_state_left_2 + str(row_pos)].value = i
  row_pos += 1
  #print(f"{col_pos_state_left_2}{row_pos} : {ws_des2[col_pos_state_left_2 + str(row_pos)].value}")

row_pos = 31
for j in unit[10:20]:
  ws_des2[col_pos_state_middle_2 + str(row_pos)].value = j
  row_pos += 1
  #print(f"{col_pos_state_middle_2}{row_pos} : {ws_des2[col_pos_state_middle_2 + str(row_pos)].value}")

row_pos = 31
for k in unit[20:]:
  ws_des2[col_pos_state_right_3 + str(row_pos)].value = k
  row_pos += 1
  if (ws_des2[col_pos_state_right_3 + str(row_pos)].value == ws_des2[col_pos_state_right_3 + str(row_pos-1)].value):
    ws_des2[col_pos_state_right_3 + str(row_pos)].value =""
  #print(f"{col_pos_state_right_3}{row_pos} : {ws_des2[col_pos_state_right_3 + str(row_pos)].value}")

wb.save('دیتا بیس گزارشات روزانه (3).xlsx')